<ul class="team-card-list">
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Maria.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Maria</p>
        <p class="student-last-name">Hunko</p>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Sasa.jpg" alt="" class="team-card-list-item-img" />
    </li>
    <li class="team-card-list-item">
        <img src="" alt="" class="team-card-list-item-img" />
    </li>
    <li class="team-card-list-item">
        <img src="" alt="" class="team-card-list-item-img" />
    </li>
    <li class="team-card-list-item">
        <img src="" alt="" class="team-card-list-item-img" />
    </li>
    <li class="team-card-list-item">
        <img src="" alt="" class="team-card-list-item-img" />
    </li>
    <li class="team-card-list-item">
        <img src="" alt="" class="team-card-list-item-img" />
    </li>
</ul>