<header class="section-header">

    <div class="container nav-container">
        <nav class="site-nav">
            <div class="nav-logo">
                <a href="./home.html" class="link-logo">
                    <svg class="icon-film" width="24" height="24">
                        <use href="./images/sprite.svg#icon-film"></use>
                    </svg>
                    <span class="site-logo">Filmoteka</span>
                </a>
            </div>

            <div class="site-list-nav">
                <ul class="list-nav">
                    <li class="list-nav-item">
                        <a class="list-item-link currant" href="#">Home</a>
                    </li>
                    <li class="list-nav-item">
                        <a class="list-item-link" href="./main/library.html">My Library</a>
                    </li>
                </ul>
            </div>
        </nav>
        <form class="form-search">
            <input type="text" class="search-field" name="query" placeholder="Search films" autocomplete="off" />
            <svg class="icon-search width=" 12" height="12">
                <use href="./images/sprite.svg#icon-search"></use>
            </svg>
        </form>
    </div>
</header>