<div class="py-5 team3 bg-light">
    <div>
        <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
                <h3 class="mb-3">Our Dream Team</h3>
            </div>
        </div>
        <div class="row-container">
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com</a></p>
                            <p><a class="student-github link" href="https://github.com/Mariia996">GitHub</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row --
        <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Sasha.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Sasha</h5>
                            <h6 class="subtitle">"Need hugs"</h6>
                            <p><a href="mailto:protsenko.as@gmail.com"
                                    class="student-email link">protsenko.as@gmail.com</a>
                            </p>
                            <p><a class="student-github link" href="https://github.com/SashaPro2021">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Marina.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Marina</h5>
                            <h6 class="subtitle">"Local Storage Monster"</h6>
                            <p><a href="mailto:karabutmarina03@gmail.com"
                                    class="student-email link">karabutmarina03@gmail.com</a>
                            </p>
                            <p><a class="student-github link" href="https://github.com/MarinaKarabut">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maks1.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Maks</h5>
                            <h6 class="subtitle">"Team Heart"</h6>
                            <p><a href="mailto:m.shipovskiy@gmail.com"
                                    class="student-email link">m.shipovskiy@gmail.com</a>
                            </p>
                            <p><a class="student-github link" href="https://github.com/zurab5550">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Fahriddin.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Fahriddin</h5>
                            <h6 class="subtitle">"The Best Modal Maker"</h6>
                            <p><a href="mailto:fahriddinnomanjanov@gmail.com"
                                    class="student-email link">fahriddinnomanjanov@gmail.com</a></p>
                            <p><a class="student-github link" href="https://github.com/fahriddinnomanjanov">GitHub</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Akbar.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Akbar</h5>
                            <h6 class="subtitle">"Pagination Guru"</h6>
                            <p><a href="mailto:k.akbar1101@gmail.com"
                                    class="student-email link">k.akbar1101@gmail.com</a>
                            </p>
                            <p><a class="student-github link" href="https://github.com/kadyrov11">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Hezalek.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Danilo</h5>
                            <h6 class="subtitle">"Ronaldo"</h6>
                            <p><a href="mailto:danilka4412@gmail.com"
                                    class="student-email link">danilka4412@gmail.com</a>
                            </p>
                            <p><a class="student-github link" href="https://github.com/danielnedefo">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Bogdan.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Bogdan</h5>
                            <h6 class="subtitle">"Lord of Darkness"</h6>
                            <p>Senior Full-Stack Developer</p>
                            <p><a class="student-github link" href="https://github.com/BogdanLyamzin">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Andrii.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Andrii</h5>
                            <h6 class="subtitle">"New Born"</h6>
                            <p>Senior Front-End-Developer</p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>

        </div>

    </div>
</div>