<ul class="team-card-list list">
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Maria.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Maria</p>
        <p class="student-name">"Awesome Team Lead"</p>
        <p class="student-development">Front End Developer</p>
        <a href="mailto:masha.gunko96@gmail.com" class="student-email link">masha.gunko96@gmail.com </a>
        <a class="student-github link" href="https://github.com/Mariia996">github-repozitories</a>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Sasha.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Sasha</p>
        <p class="student-name">"Need hugs"</p>
        <p class="student-development">Front End Developer</p>
        <a href="mailto:protsenko.as@gmail.com" class="student-email link">protsenko.as@gmail.com</a>
        <a class="student-github link" href="https://github.com/SashaPro2021">github-repozitories</a>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Marina.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Marina</p>
        <p class="student-name">"Locale Storage Monster"</p>
        <p class="student-development">Front End Developer</p>
        <a href="mailto:marinacat2108@gmail.com" class="student-email link">marinacat2108@gmail.com</a>
        <a class="student-github link" href="https://github.com/MarinaKarabut">github-repozitories</a>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Maks1.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Maks</p>
        <p class="student-name">"Team Heart"</p>
        <p class="student-development">Front End Developer</p>
        <a href="mailto:m.shipovskiy@gmail.com" class="student-email link">m.shipovskiy@gmail.com</a>
        <a class="student-github link" href="https://github.com/zurab5550">github-repozitories</a>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Fahriddin.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Fahriddin</p>
        <p class="student-name">"The Best Modal Maker"</p>
        <p class="student-development">Front End Developer</p>
        <a href="mailto:fahriddinnomanjanov@gmail.com" class="student-email link">fahriddinnomanjanov@gmail.com</a>
        <a class="student-github link" href="https://github.com/fahriddinnomanjanov">github-repozitories</a>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Akbar.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Akbar</p>
        <p class="student-name">"Pagination Guru"</p>
        <p class="student-development">Front End Developer</p>
        <a href="mailto:k.akbar1101@gmail.com" class="student-email link">k.akbar1101@gmail.com</a>
        <a class="student-github link" href="https://github.com/kadyrov11">github-repozitories</a>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Hezalek.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Danilo</p>
        <p class="student-name">"Ronaldo"</p>
        <p class="student-development">Front End Developer</p>
        <a href="mailto:danilka4412@gmail.com" class="student-email link">danilka4412@gmail.com</a>
        <a class="student-github link" href="https://github.com/danielnedefo">github-repozitories</a>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Bogdan.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Bogdan</p>
        <p class="student-name">"Lord of Darkness"</p>
        <p class="student-development">Senior Full-Stack Developer</p>
    </li>
    <li class="team-card-list-item">
        <img src="../images/goit-students-photos/Andrii.jpg" alt="" class="team-card-list-item-img" />
        <p class="student-name">Andrii</p>
        <p class="student-name">"New Born"</p>
        <p class="student-development">Senior Front End Developer</p>
    </li>
</ul>