<div class="py-5 team3 bg-light">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
                <h3 class="mb-3">Experienced & Professional Team</h3>
                <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer
                    services will be great experience for you without doubt and in no-time</h6>
            </div>
        </div>
        <div class="row">
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link" href="https://github.com/Mariia996">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Sasha.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Sasha</h5>
                            <h6 class="subtitle">"Need hugs"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">protsenko.as@gmail.com</a></p>
                            <p><a class="student-github link" href="https://github.com/Mariia996">GitHub</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link"
                                    href="https://github.com/Mariia996">github-repozitories</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link"
                                    href="https://github.com/Mariia996">github-repozitories</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link"
                                    href="https://github.com/Mariia996">github-repozitories</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link"
                                    href="https://github.com/Mariia996">github-repozitories</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link"
                                    href="https://github.com/Mariia996">github-repozitories</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link"
                                    href="https://github.com/Mariia996">github-repozitories</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link"
                                    href="https://github.com/Mariia996">github-repozitories</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../images/goit-students-photos/Maria.jpg" alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Mariia</h5>
                            <h6 class="subtitle">"Awesome Team Lead"</h6>
                            <p><a href="mailto:masha.gunko96@gmail.com"
                                    class="student-email link">masha.gunko96@gmail.com </a></p>
                            <p><a class="student-github link"
                                    href="https://github.com/Mariia996">github-repozitories</a></p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>

    </div>
</div>