.form-search {
  position: relative;
}
.error-message {
  position: absolute;
  margin-top: 22px;
  text-align: center;
  color: $error-color;
}
.unavialable-page {
  color: $error-color;
  font-style: 30px;
  width: 310px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid $error-color;
}
