.mask {
  // width: 100%;
  // height: 100%;
  // background-color: #ffffff;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  transition: 0, 6s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.loader {
  width: 75px;
  height: 75px;
  border: 10px solid rgba(255, 165, 0, 0.6);
  border-radius: 50%;
  border-left-color: orange;
  animation: loader 1.3s linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
.hide {
  opacity: 0;
}
