.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__body.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  &__body {
    position: fixed;
    @include flex(center, center);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 280px;
  }

  &-content {
    background-color: $primary-modal-bg-color;
    color: $primary-color;
    min-width: 280px;
    height: 95vh;
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    @include tablet {
      @include flex;
      min-width: 615px;
    }

    @include desktop {
      min-width: 882px;
    }
  }
  &-btn__icon {
    position: fixed;
    top: 0;
    right: 10px;
    color: #000;
    font-size: 30px;
    z-index: 1000;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-btn__icon:hover,
  &-btn__icon:focus {
    color: $accent-color;
  }
}

.film-info__img {
  width: 240px;
  height: 356px;
  margin-bottom: 30px;
  @include tablet {
    width: 264px;
    height: 374px;
    margin-right: 32px;
  }
  @include desktop {
    width: 396px;
    height: 478px;
    margin-right: 30px;
  }
}
.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
