.cards-movies {
  padding-top: 20px;
  padding-bottom: 40px;
}
@include tablet {
  .cards-movies {
    padding-top: 60px;
    padding-bottom: 71px;
  }
}
.js-gallery-movies {
  @include grid(274px, auto-fill);
  // @include grid(1tr, auto-fill);
  grid-gap: 30px;
  position: relative;
}
.movie-card {
  &-img {
    border-radius: 5px;
    width: 100%;
    height: 398px;
    transition: transform 250ms linear;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      cursor: pointer;
      box-shadow: 0px -2px 32px 1px rgba(0, 0, 0, 0.69);
      transform: scale(1.04);
    }
  }
  &-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin-top: 10px;
    cursor: pointer;
  }
  &-info {
    @include flex(start, center);
    color: $secondary-accent-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin-top: 2px;
    height: 16px;
  }
  &-release-year::before {
    content: '\2758';
    color: $secondary-accent-color;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
  }
  &-vote {
    background: $secondary-accent-color;
    color: $secondary-color;
    height: 16px;
    width: 36px;
    border-radius: 5px;
    margin-left: auto;
    @include flex(center, center);
    text-transform: uppercase;
  }
}
